.poem-wrapper {
  background-color: white;
  height: 150px;
  display: flex;
  flex-direction: row;
  border: 1px solid lightgray;
  border-radius: 25px;
  padding: 10px;
  margin: 20px;
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
}

.poem-wrapper:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.color-Banner {
  height: 100%;
  width: 15px;
  background-color: blue;
  border-radius: 25px;
}

.main-Info-wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 15px;
}

* {
  font-family: "Roboto", sans-serif;
}

.poemName {
  font-size: 36;
  margin-bottom: 5px;
}

.author-wrapper {
  color: gray;
}

.like-content-wrapper {
  margin: auto;
}
